@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
    border:  3px solid red;

}



header {
    border:  3px solid red;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 2, 16);
}

.header_content {
    color: whitesmoke;
    border:  3px solid red;
    margin: auto;
    padding: 50px;
    width: 700px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#header_text {
    font-size: 45px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#header_rules {
    margin-top: 0;
}

.box {
    border: 2px solid brown;
    height: 400px;
    width: 400px;
}

div {
    width: 100px;
    height: 100px;
    
    display:flex;
    border:  3px solid red;

}

#hp_box {
    display: flex;
    flex-direction: column;
    width: 600px;

    position: relative;
    
}

#computer_character  {
    background-image:url('large\ green\ blob.PNG');
    background-position: center;
}

.hp_bar {
    width: 100px;
    height: 50px;

    margin-bottom: 15%;
    margin-top: 15%;
}

#hp_computer {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: aqua;
}

#box_main {
    width: 100%;
    height: 880px;

    background-image:url('bg_rain.gif'); background-repeat:repeat;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

  



}

.buttons {
    width: 400px;
    
    display: flex;
    
}

.console {
    background-color: aquamarine;
    width: 100%;
    height: auto;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}





